$font-family: Arial, sans-serif;

body {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  background-color: #22272d;
  margin: 0;
  font-family: $font-family;
  overflow-x: hidden;
  margin: auto;
}

.tasks {
  min-height: calc(100vh - 110px);
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-top: 110px;

  #{&}__lbl {
    font-size: 30px;
    margin: 16px 0 4px 0;
    color: #adbac7;
    position: absolute;
    top: 10px;
  }

  #{&}__list {
    list-style: none;
    padding-left: 0;
  }

  #{&}__input {
    box-sizing: border-box;
    max-width: 600px;
    width: 90vw;
    line-height: 3;
    padding: 0 8px;
    position: absolute;
    top: 70px;
    border: none;
    box-shadow: 1px 1px 1px;
    outline: none;
    color: black;
  }
}

.task {
  box-sizing: border-box;
  max-width: 600px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 10px 30px 10px;
  width: 90vw;
  color: #adbac7;

  margin-bottom: 8px;
  border-bottom: 1px solid blanchedalmond;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }

  #{&}__status {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    background-color: white;
    margin-right: 10px;
    display: inline-block;
  }

  #{&}__status.task__status--completed {
    background-color: greenyellow;
  }

  #{&}__title {
    margin-right: 10px;
    width: calc(100% - 190px - 50px);
    overflow: auto;
    flex-grow: 2;
  }

  #{&}__removeIcon {
    width: 50px;
    height: 10px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
  }

  &:hover .task__removeIcon::after {
    content: "delete";
    font-family: sans-serif;
    position: absolute;
    top: -6px;
    right: 0;
    color: white;
    background-color: darkred;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.hidden {
  display: none;
}

.filter {
  padding: 8px;
  background-color: whitesmoke;
  max-width: 600px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;

  #{&}__counter {
    width: 30vw;
  }

  #{&}__btn {
    cursor: pointer;
    background-color: rgb(136, 128, 128);
    padding: 8px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-left: 16px;
    text-align: center;
    width: clamp(1px, 100%, 100px);
    &--active {
      background-color: darkseagreen;
    }
  }
}
